In [40]:
import pandas as pd

In [41]:
data_path_one = 'Resources/superbowl.csv'
data_path_two = 'Resources/worldcities.csv'
data_path_three = 'Resources/Fortune_500_Corporate_Headquarters.csv'

In [52]:
data_one = pd.read_csv(data_path_one)

In [64]:
date = data_one['Date']
sb = data_one['SB']
winner = data_one['Winner']
win_pts = data_one['Winner Pts']
loser = data_one['Loser']
los_pts = data_one['Loser Pts']
mvp = data_one['MVP']
stadium = data_one['Stadium']
city = data_one['City']
state = data_one['State']

superbowl_df = pd.DataFrame({'date': date,
                            'superbowl_num': sb,
                            'winner': winner,
                            'winner_points': win_pts,
                            'loser': loser,
                            'loser_points': los_pts,
                            'mvp': mvp,
                            'stadium': stadium,
                            'city': city,
                            'state': state})

superbowl_df['year'] = superbowl_df['date'].str[-4:]

In [51]:
data_two = pd.read_csv(data_path_two)

In [48]:
city_two = data_two['city']
lat = data_two['lat']
lng = data_two['lng']
country = data_two['country']
pop = data_two['population']

city_df = pd.DataFrame({'city':city_two,
                      'latitude': lat,
                      'longitude': lng,
                      'country': country,
                      'population':pop})

In [65]:
only_usa_start = city_df.loc[city_df['country'] == 'United States', :]
only_usa = only_usa_start.dropna(how = 'any')

In [66]:
combined_superbowl = pd.merge(superbowl_df, only_usa, on = 'city', how = 'inner')
combined_superbowl.sort_values('year')
cleaned_superbowl = combined_superbowl.drop_duplicates(subset = ['year'], keep = 'first')
cleaned_superbowl.reset_index().drop(columns = 'index')
cleaned_superbowl.head()

,date,superbowl_num,winner,winner_points,loser,loser_points,mvp,stadium,city,state,year,latitude,longitude,country,population
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida,2020,25.9433,-80.2426,United States,110001.0
1,Feb 7 2010,XLIV (44),New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida,2010,25.9433,-80.2426,United States,110001.0
2,Feb 4 2007,XLI (41),Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida,2007,25.9433,-80.2426,United States,110001.0
3,Jan 31 1999,XXXIII (33),Denver Broncos,34,Atlanta Falcons,19,John Elway+,Pro Player Stadium,Miami Gardens,Florida,1999,25.9433,-80.2426,United States,110001.0
4,Jan 29 1995,XXIX (29),San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida,1995,25.9433,-80.2426,United States,110001.0

In [19]:
data_three = pd.read_csv(data_path_three)
data_three.head()

,X,Y,FID,OBJECTID,RANK,NAME,ADDRESS,ADDRESS2,CITY,STATE,...,EMPLOYEES,REVENUES,LATITUDE,LONGITUDE,SOURCE,PRC,COUNTYFIPS,COMMENTS,WEBSITE,PROFIT
0,-1.293321e+07,5.403709e+06,1,1,49,ALBERTSONS COS.,250 PARKCENTER BOULEVARD,NOT AVAILABLE,BOISE,ID,...,274000,58734,43.59974,-116.18099,BING MAPS,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.ALBERTSONS.COM/#1,-502.2
1,-1.292942e+07,5.392879e+06,2,2,226,MICRON TECHNOLOGY,8000 SOUTH FEDERAL WAY,NOT AVAILABLE,BOISE,ID,...,31400,12399,43.52925,-116.14697,BING MAPS,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.MICRON.COM/,-276.0
2,-8.842930e+06,4.313449e+06,3,3,290,LABORATORY CORP. OF AMERICA,358 SOUTH MAIN STREET,NOT AVAILABLE,BURLINGTON,NC,...,52000,9642,36.09317,-79.43739,BING MAPS,ADDRESS,37001,NOT AVAILABLE,HTTPS://WWW.LABCORP.COM/,732.1
3,-1.357618e+07,4.507432e+06,4,4,440,LAM RESEARCH,4650 CUSHING PARKWAY,NOT AVAILABLE,FREMONT,CA,...,7500,5886,37.48860,-121.95694,BING MAPS,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.LAMRESEARCH.COM/,914.0
4,-1.357871e+07,4.508509e+06,5,5,198,SYNNEX,44201 NOBEL DRIVE,NOT AVAILABLE,FREMONT,CA,...,110000,14062,37.49628,-121.97965,BING MAPS,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.SYNNEXCORP.COM/,234.9

In [73]:
lat_three = data_three['LATITUDE']
lng_three = data_three['LONGITUDE']
rank = data_three['RANK']
company = data_three['NAME']
address = data_three['ADDRESS']
city_three = data_three['CITY']
state_three = data_three['STATE']
employees = data_three['EMPLOYEES']
revenues = data_three['REVENUES']
profit = data_three['PROFIT']

company_df = pd.DataFrame({'latitude': lat_three,
                          'longitude': lng_three,
                          'rank': rank,
                          'company_name': company,
                          'address': address,
                          'city': city_three,
                          'state': state_three,
                          'employee_count': employees,
                          'revenue': revenues,
                          'profit': profit})

company_df = company_df.sort_values('rank').reset_index().drop(columns = 'index')
company_df

,latitude,longitude,rank,company_name,address,city,state,employee_count,revenue,profit
0,36.36477,-94.21763,1,WALMART,702 SW 8TH STREET,BENTONVILLE,AR,2300000,485873,13643.0
1,41.25721,-95.96556,2,BERKSHIRE HATHAWAY,3555 FARNAM STREET,OMAHA,NE,367700,223604,24074.0
2,37.33177,-122.03042,3,APPLE,1 INFINITE LOOP,CUPERTINO,CA,116000,215639,45687.0
3,32.89021,-96.94977,4,EXXON MOBIL,5959 LAS COLINAS BOULEVARD,IRVING,TX,72700,205004,7840.0
4,37.78877,-122.40257,5,MCKESSON,1 POST STREET,SAN FRANCISCO,CA,68000,192487,2258.0
...,...,...,...,...,...,...,...,...,...,...
495,32.91509,-96.98834,496,MICHAELS COS.,8000 BENT BRANCH DRIVE,IRVING,TX,31000,5197,378.2
496,40.17486,-75.13590,497,TOLL BROTHERS,250 GIBRALTAR ROAD,HORSHAM,PA,4200,5170,382.1
497,37.41790,-122.02530,498,YAHOO,701 1ST AVENUE,SUNNYVALE,CA,8500,5169,-214.3
498,32.89835,-96.96431,499,VISTRA ENERGY,6555 SIERRA DRIVE,IRVING,TX,4431,5164,-99999.0
499,40.75559,-73.97913,500,ABM INDUSTRIES,551 5TH AVENUE,NEW YORK,NY,110000,5145,57.2

In [74]:
cleaned_superbowl.to_csv('Resources/cleaned_superbowl.csv')
company_df.to_csv('Resources/cleaned_fortune500.csv')